@import url("style/header.css");
@import url("style/banner.css");
:root{
    --cor-de-fundo: #243d3acb;
    --branco: #8fd0b8f6;
    --laranja: #42786d;
    --preto:#000000;
    --azul-degrade: linear-gradient(97.54deg, #957caf 35.49%, #9c91ac 165.37%);
    --fonte-principal:"Poppins";
    --fonte-secundario:"Josefin Sans";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


